<div class="wrapper">
  
  <div class="boxes-wrapper">
    <div class="row">
      <div class="col-12">
        <div scrollfx class="boxes-container">
      

          <div elementScrollfx class="box-wrapper animated fadeInUp">
            <p class="">{{ 'HOME.BOX_DETAIL_1' | translate }}</p>
            <i class="material-icons">verified_user</i>
          </div>



          <div elementScrollfx class="box-wrapper animated fadeInUp">
            <p class="">{{ 'HOME.BOX_DETAIL_2' | translate }}</p>
            <i class="material-icons">layers</i>
          </div>


          <div elementScrollfx class="box-wrapper animated fadeInUp">
            <p class="">{{ 'HOME.BOX_DETAIL_3' | translate }}</p>
            <i class="material-icons">timelapse</i>
          </div>
         

        </div>
      </div>
    </div>
  </div>



  <div class="design-home-wrapper"> 
    <div class="design-home-text">  
      <h1>{{ 'HOME.COMMERCIAL_TITLE_1' | translate }}</h1>
      <h2>{{ 'HOME.COMMERCIAL_SLOGAN_1' | translate }}</h2>
    </div>    
  </div>




      
      <div class="container">

        <div class="row">
            <div class="boxes-container">
              
              
                
          </div>
        </div>
        




        <div class="row">
        <div class="col-12">
      
        </div>
      </div>
      
      </div>

        <div class="design-home-image" [style.background-image]=" 'url(' + designHomeImageURL + ')'"></div>
        
      
</div>
