<div class="howwework-wrapper">
  <div class="container">
    
    
    <div class="row">
      <div class="col-12">
        <h1 class="section-title">¿Como trabajamos?</h1>
        <h3 class="section-subtitle">Conece nuestro método de trabajo y nuestra filosofia</h3>
        <p>
          Nuestro método de trabajo es un claro ejemplo de innovación y busqueda de las mejores soluciones, agilizamos la contrucción,
          abaratamos los costes de ejecución, por ultimo y lo más importante, realizamos contrucciones sostenibles con un alto grado de eficiencia energetica.
          A continuación vamos a describir a grandes rasgos nuestra metodologia, basada en los principales pilares que siempre remarcamos:
        </p>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Los mejores metodos de aislamiento.</h3>
        <p>Actualmente realizamos un sistema de construcción basado en muros de carga de hormigón armado, con un encofrado de EPS (Poliestireno Expandido).
           Este sistema se conoce en otros paises como ICF (Insulated Concrete Forms), permite formar al mismo tiempo la estructura, el cerramiento y el aislamiento de una forma rápida, simplificada y limpia, ahorrando tiempo y costes de mano de obra.
           El encofrado de EPS permanece posteriormente en la estructura aportando un excelente aislamiento térmico y acústico,
            a la vez que un alto grado de confortabilidad en las edificaciones construidas con este sistema.
            Estos bloques constan de dos paneles moldeados de EPS ignifugado de alta densidad, unidos por unos separadores de polipropileno, como podéis ver en la siguiente imagen.
        </p>
        <div class="silverblock-wrapper col-12">
            <div [style.background-image]=" 'url(' + silverblockURL + ')' " class="silverblock-img"></div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-xl-5">
        <p>En resumen, podemos subrayar las siguientes ventajas:</p>
        <ul>
          <li>Montaje rápido y sencillo sin mano de obra especializada</li>
          <li>Máximo ahorro de tiempo y costes</li>
          <li>Estructura sólida de hormigón armado con gran resistencia a movimientos sísmicos</li>
          <li>Excelente aislamiento térmico y acústico</li>
          <li>Alta eficiencia energética</li>
          <li>Sostenibilidad con el medio ambiente</li>
        </ul>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-12">
        <div [style.background-image]=" 'url(' + flootHeatingURL + ')' " class="floor-heating-img"></div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Máximo aprovechamiento térmico mediante suelos radiantes.</h3>
        <p>
          La instalación de suelo radiante puede suponer un <b>ahorro entre un 10% y un 20% en relación a otros sistemas de calefacción convencional</b>.
          Esto se debe a que la temperatura de impulsión del agua es muy baja (30-45º) frente a los sistemas tradicionales (80-85º).
        </p>
        <p>
          Conseguimos un mayor confort ya que la temperatura del aire cercano al suelo será ligeramente superior a la temperatura del aire a la altura de la cabeza.
          Y el calor se reparte de forma uniforme por toda la casa.
          Es un sistema más saludable ya que al no producirse corrientes de aire se reduce el polvo, no produce sequedad como lo hacen otros, y la baja humedad consigue evitar la aparición de ácaros.
          El suelo radiante puede utilizar distintos sistemas de calentamiento de agua como calderas, bomba de calor y energía solar.
          Gracias a una bomba de calor podemos utilizar la misma instalación para refrescar el suelo en verano.
          Este sistema puede trabajar de forma continua muchas horas por lo que es muy útil para las casas o edificios con una ocupación de horario alta.
          Otra ventaja es que no ocupa espacio como los radiadores, y es más estética ya que no afecta a la decoración de la vivienda.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Máxima eficiencia energetica.</h3>
        <p>
              La eficiencia energética es el uso eficiente de la energía, de esta manera optimizar los procesos productivos
              y el empleo de la energía utilizando lo mismo o menos para producir más bienes y servicios. Dicho de otra manera,
              por ejemplo, no se trata de ahorrar luz, sino de iluminar mejor consumiendo menos electricidad,
              todo esto lo conseguimos mediante la utilización de energias limpias y sostenibles como pueden ser Aerotermia, Geotermia o Pellet,
              la utilización de cada una de ellas no es arbitraria, realizamos un estudio tanto del entorno como de las caracteristicas
              de la edificación para saber cual de ellas será mas beneficiosa.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Sistemas de cerramientos de última generación.</h3>
        <p>
              La instalación de puertas y ventanas con los mayores niveles en aislamiento son esenciales para el mantenimiento
              térmico del interior de la vivienda, actualmente instalamos cerramientos en PVC,
              siendo este un material amigable con el medio ambiente, son 100% reciclables y, debido a los beneficios de aislamiento, permite una reducción significante en la utilización de energía.
              Además, la producción del PVC tiene bajos niveles de contaminación y se utiliza mucho menos energía en su fabricación que en el caso de otro tipos de ventanas,
              Las principales caracteristicas de nuestros cerramientos son las siguientes:
        </p>
      </div>
    </div>

    
    <div class="row">
      
      <div class="col-6 content-center">
        <div [style.background-image]=" 'url(' + pvcWindowURL + ')' " class="pvc-window-img"></div>
      </div>
      
      <div class="col-6 content-center">
        <ul>
          <li>Las ventanas de PVC ofrecen el mejor aislamiento térmico y acústico.</li>
          <li>Excelentes propiedades aislantes y de seguridad.</li>
          <li>Producen un gran ahorro energético y económico.</li>
          <li>Poseen un excelente equilibrio ecológico</li>
          <li>Poseen una larga vida útil, hasta 50 años.</li>
          <li>No se deforma con el tiempo.</li>
          <li>No necesitan mantenimiento.</li>
          <li>La mejor calidad precio.</li>
        </ul>
      </div>    
    </div>
    


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Construcción rapida y agil.</h3>
        <p>Utilización de materiales ligeros reduce la mano de obra en más de un 70%, disminuyendo considerablemente el tiempo de construcción y aumentando notablemente la productividad.</p>
      </div>
    </div>
    
        
    
    <div class="row">
      <div class="col-12">
        <h3 class="slogan">Economicamente rentables.</h3>
        <p>
              Construir durante menos tiempo y con menos mano de obra reduce los costes de ejecución en gran medida,
              esto nos da la posibilidad de realizar proyectos al alcance de todo tipo de bolsillos,
              siempre dependiendo de las calidades que cada cliente quiera instalar, realizamos el mejor trabajo, al mejor precio.
        </p>
      </div>  
    </div>
        
  </div>
</div>

    

