<div class="howwework-wrapper">
  <div class="container">
    
    
    <div class="row">
      <div class="col-12">
        <h1 class="section-title">{{ 'HOW_WE_WORK.TITLE' | translate }}</h1>
        <h3 class="section-subtitle">{{ 'HOW_WE_WORK.SUBTITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.PARAGRAPH_1' | translate }}</p>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.CONSTRUCTION_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.CONSTRUCTION_DESCRIPTION' | translate }}</p>
        <div class="silverblock-wrapper col-12">
            <div [style.background-image]=" 'url(' + silverblockURL + ')' " class="silverblock-img"></div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-xl-5">
        <p>{{ 'HOW_WE_WORK.CONSTRUCTION_SUMMARY' | translate }}</p>
        <ul>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_1' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_2' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_3' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_4' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_5' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.CONSTRUCTION_OPTION_6' | translate }}</li>
        </ul>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-12">
        <div [style.background-image]=" 'url(' + flootHeatingURL + ')' " class="floor-heating-img"></div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.RADIANT_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.RADIANT_DESCRIPTION' | translate }}</p>
        <p>{{ 'HOW_WE_WORK.RADIANT_SUMMARY' | translate }}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.ENERGY_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.ENERGY_DESCRIPTION' | translate }}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.WINDOWS_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.WINDOWS_DESCRIPTION' | translate }}</p>
      </div>
    </div>

    
    <div class="row">
      
      <div class="col-6 content-center">
        <div [style.background-image]=" 'url(' + pvcWindowURL + ')' " class="pvc-window-img"></div>
      </div>
      
      <div class="col-6 content-center">
        <ul>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_1' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_2' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_3' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_4' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_5' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_6' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_7' | translate }}</li>
          <li>{{ 'HOW_WE_WORK.WINDOWS_OPTION_8' | translate }}</li>
        </ul>
      </div>    
    </div>
    


    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.MATERIALS_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.MATERIALS_DESCRIPTION' | translate }}</p>
      </div>
    </div>
    
        
    
    <div class="row">
      <div class="col-12">
        <h3 class="slogan">{{ 'HOW_WE_WORK.ECONOMY_TITLE' | translate }}</h3>
        <p>{{ 'HOW_WE_WORK.ECONOMY_DESCRIPTION' | translate }}</p>
      </div>  
    </div>
        
  </div>
</div>

    

