
<div class="container">

  <div class="row">
    <div class="col-12">

      <div class="navigator">
        <a [routerLink]="[ 'public/home' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.HOME' | translate }}</a>
        <a [routerLink]="[ 'public/aboutus' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.ABOUT_US' | translate }}</a> 
        <a [routerLink]="[ 'public/howwework' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.HOW_WE_WORK' | translate }}</a>
        <a [routerLink]="[ 'public/gallery' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.IMAGES_GALLERY' | translate }}</a>
        <a [routerLink]="[ 'public/contact' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.CONTACT' | translate }}</a>
        <a [routerLink]="[ 'private' ]" routerLinkActive="active">Private zone</a>   
      </div>

    </div>
  </div>


</div>





