<div class="navigator">
  <a [routerLink]="[ 'home' ]" routerLinkActive="active"> Home </a> <!--{{ 'NAVIGATION_LANDING_ZONE.HOME' | translate }}-->
  <a [routerLink]="[ 'aboutus' ]" routerLinkActive="active">About As</a> <!--{{ 'NAVIGATION_LANDING_ZONE.ABOUT_US' | translate }}-->
  <a [routerLink]="[ 'howwework' ]" routerLinkActive="active">How We Work</a><!--{{ 'NAVIGATION_LANDING_ZONE.HOW_WE_WORK' | translate }}-->
  <a [routerLink]="[ 'gallery' ]" routerLinkActive="active">Gallery</a><!--{{ 'NAVIGATION_LANDING_ZONE.IMAGES_GALLERY' | translate }}-->
  <a [routerLink]="[ 'contact' ]" routerLinkActive="active">Contact</a> <!--{{ 'NAVIGATION_LANDING_ZONE.CONTACT' | translate }} -->     
</div>

<div class="private-navigator">
  <a [routerLink]="['private']" routerLinkActive="active">Private zone</a>
</div>