<div class="container contact-section-wrapper">
  
    <div class="row">
        <div class="col-12">
          <h1 class="section-title">Contacta con nosotros</h1>
          <h3 class="section-subtitle">Ya nos has podido conocer, ahora cuentanos tus necesidades</h3>
          <p>En esta sección te damos la oportunidad que nos consultes tus dudas o nos cuentes tus necesidades, opiniones o 
            incluso si quieres pedirnos consejo, todo sera bien recibido y te contestaremos lo antes posible, ten paciencia,
            somos gente muy ocupada pero te aseguramos que la respuesta llegará!...
          </p>
        </div>
      </div>

    <form [formGroup]=" contactForm ">
    
    
        <div class="form-group">
          <div class="col-4">
            <div class="input-wrapper">
              <input type="email" class="email" formControlName="email" placeholder="Añade tu correo electronico"/>
            </div>
          </div>
        </div>
        
      <div class="form-group">
        <div class="col-10">
          <div class="textarea-wrapper">
            <textarea class="commentary" formControlName="message" placeholder="Aquí tu consultas, necesidades, dudas u opiniones..."></textarea>
          </div>
        </div>
      </div>
        

      <div class="col-10">
        <div class="buttons-pad">
          <input type="submit" class="button" value="Enviar" (click)=" submitBioclimaticMessage() " />
          <input type="button" class="button" value="Reset" (click)=" resetBioclimaticMessage() " [disabled]=" !contactForm.controls.email.value  && !contactForm.controls.message.value "/>
        </div> 
      </div>

    </form> 
</div>
