@import 'variables';


:host {
  color: $color-light;
  font-weight: 100;
  z-index: 10000 !important;
}//host


.header-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: $height-landingPageHeader;
  border-top:5px solid $color-2;
  border-bottom: 1px solid rgba($color-light,0.1);
  z-index: $zIndex-fixedElements;
  //background-color:rgba($color-dark,0.15);
}// header-wrap


.logotype-wrapper {
  height: $height-landingPageHeader !important;
  display: flex;
  align-items: center;
}//logotype-wrapper


.container {
  height: 100%;

  .navigation-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }// navigation-wrapper

}//container


div.navigator {
  height: $height-landingPageHeader;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  a {
    border-radius: 0.2rem;
    font-size: $fontSize-widget + 0.1rem;
    padding:0.5rem 1rem;
    text-decoration-line: none;
    color: rgba($color-light,0.85);
  }//a


  a:hover {
    cursor: pointer;
    color: rgba($color-light,1);
    background-color: rgba($color-light,0.05);
  }//a:hover


  a.active {
    font-size: $fontSize-widget + 0.2rem;
    color: $color-selection !important;
  }//a


  a.active:hover {
    cursor:default !important;
    background: 0 !important;
  }//a.active


}//navigator



div.small-navigator {
  display: none;
  margin-right: 1rem !important;
  height: $height-landingPageHeader; 
  i { font-size: 2.5rem; }//i
}//small-navigator


.mini-navigator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    padding: 0.5rem;
    color: $color-light !important;
  }//a

}//mini-navigator



@media (max-width: $md ) {
  
  div.navigator { display: none !important;}

  div.small-navigator { 
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }//small-navigator

}//@media-max-width
