<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
  
        <div class="navigator">
          <a [routerLink]="[ 'home' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.HOME' | translate }}</a>
          <a [routerLink]="[ 'aboutus' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.ABOUT_US' | translate }}</a> 
          <a [routerLink]="[ 'howwework' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.HOW_WE_WORK' | translate }}</a>
          <a [routerLink]="[ 'gallery' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.IMAGES_GALLERY' | translate }}</a>
          <a [routerLink]="[ 'contact' ]" routerLinkActive="active">{{ 'NAVIGATION_LANDING_ZONE.CONTACT' | translate }}</a>
          <a [routerLink]="[ 'private' ]" routerLinkActive="active">Private zone</a>   
        </div>
  
      </div>
    </div>
  </div>
</div>






