@import 'variables';
@import 'classes';


.aboutus-wrapper {
  @extend .bio-section;

  .section-title {
    @extend .bio-section-title;
  }//section-title
  
  .section-subtitle {
    @extend .bio-section-subtitle;
  }//section-subtitle
  
}//aboutus-wrapper




.content-info {
  margin-bottom: 2rem;

  .construction-features {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:5%;
    margin-bottom: 2rem !important;

    span.list-number {
      padding:0.4rem;
      background-color: $color-company;
    }//span.list-number

    span {
      margin-bottom:1rem;
      font-size: $fontSize-paragraph + 0.2rem;
      font-weight: 100;
    }//span
    
  }//construction-features

  p {
    margin-bottom: 2rem !important;
  }//p

}//content-info



.company-references {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:2rem;
  
  p {
    margin:0 !important;
  }//p

  span {
    font-size: $fontSize-detail;
    font-weight: 200;
  }//span

}//company-references
