@import 'variables';

.sidebar-wrapper {
  width:80%;
  height: 100vh;
  position: fixed;
  top:0;
  background-color: $color-dark !important;
  opacity: 1 !important;

  transition: left 0.8s ease;
  -webkit-transition: left 0.8s ease;
  -moz-transition: left 0.8s ease;
  -o-transition: left 0.8s ease;
  -ms-transition: left 0.8s ease;

  &.open {
    left: 0 !important;
  }//open

  &.close {
    left: -82% !important;
  }//close

  .sidebar-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
  }//sidebar-content-wrapper

}//sidebar-wrapper 