/* You can add global styles to this file, and also import other style files */

@import 'variables';



@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src:  url('./assets/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src:  url('./assets/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src:  url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:  url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:  url('./assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:  url('./assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
 }
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src:  url('./assets/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
 }



 html,
 body {
   margin:0px !important;
   padding:0px !important;
 }//html,body
 
 
 h1.title {
   font-size: $fontSize-title !important;
   font-weight: 700;
 }// H1
 
 h2.subtitle {
   font-size: $fontSize-subtitle !important;
   font-weight: 100;
 }// H2
 
 h3.slogan {
   padding:1rem 0.8rem;
   border-left: 4px solid $color-company;
   font-size: $fontSize-subtitle - 0.3rem;
   font-weight: 100 !important;
 }//h3
 
 
 * {
   font-family: $fontFamily;
 
   &::-moz-selection { 
     background: $color-company; 
   }//moz-selection
 
   &::selection { 
     background: $color-company; 
   }//selection
 
 }//*
 
 
 
 
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: $size-icons;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
 }//material-icons
 
 
 .paragraph {
   font-size: $fontSize-paragraph;
   font-weight: 200;
 }// Paragraph
 
 
 .detail {
   font-size: $fontSize-detail;
   font-weight: 200;
 }// Detail
 
 
 *.debug {
   border:1px solid yellowgreen !important;
 }//debug
 
 