<div class="splash-wrapper">
  <splash-wallpaper 
        [imageUrl] = "splashImageUrl" 
        [summary] = " slogan | translate " 
        [detail] = " 'COMMON_APPLICATION.NAME_COMPANY' | translate " >

    <div class="menu-transclusion">
      <app-header></app-header>
    </div>
  
  </splash-wallpaper>
</div>


<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>


<div class="help-banner">
  <banner-contact></banner-contact>
</div>


<div class="footer-wrapper">
  <!--<footer></footer> -->
  Aqui el footer!
</div>
